.acercade-page {
  margin-top: var(--page-margin-top);
  margin-bottom: var(--page-margin-bottom);
  max-width: 1450px;
  margin-inline: auto;
}

.acercade-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.parrafos {
  width: 50%;
  padding: 30px 50px 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);  
}

.parrafos h3 {
  color: var(--subtitle-color);
  font-size: var(--font-size-subtitle);
  margin: 30px 0 20px;
  text-align: left;
  position: relative;
  padding-left: 15px;
}

.parrafos h3::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: var(--main-color);
  border-radius: 2px;
}

.parrafo-texto {
  padding: 0 30px;
  margin-bottom: 30px;
}

.parrafo-texto p {
  font-size: var(--font-size-paragraph);
  line-height: 1.8;
  color: var(--paragraph-color);
  text-align: justify;
}

.imagenes {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenes img {
  max-width: 58%;
  transition: transform 0.3s ease;
}

.imagenes img:hover {
  transform: scale(1.02);
}

.ventajas-tecnicas {
  margin-bottom: 87px;
}

.ventajas-tecnicas h3 {
  color: var(--subtitle-color);
  font-size: var(--font-size-subtitle);
  margin: 0 0 40px 50px;
  text-align: left;
  position: relative;
  padding-left: 15px;
}

.ventajas-tecnicas h3::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: var(--main-color);
  border-radius: 2px;
}

.ventajas-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1450px;
  margin-inline: auto;
}

.ventajas-texto p {
  font-size: var(--font-size-paragraph);
  color: var(--paragraph-color);
  padding: 35px 20px 35px;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid var(--main-color);
  transition: transform 0.3s ease;
  margin-block: 0;
  width: 273px;
  height: 168px;
  align-content: center;
  text-align: justify;
}

.ventajas-texto p:hover {
  transform: translateY(-5px);
}

.noticia-wow {
  background-color: var(--main-color);
  min-height: 100px;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin: 40px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(243, 84, 36, 0.3);
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.noticia-wow:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(243, 84, 36, 0.4);
}

.noticia-content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px;
}

.noticia-imagen {
  flex: 0 0 auto;
  width: 400px;
}

.noticia-imagen img {
  width: 58%;
  height: auto;
}

.noticia-wow h3 {
  margin-left: -70px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-about-announcement);
  line-height: 1.4;
  color: white;
  padding-inline: 40px;
}

.medios {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 90px;
}

.medios h3 {
  color: var(--subtitle-color);
  font-size: var(--font-size-subtitle);
  margin: 0 0 40px 50px;
  text-align: left;
  position: relative;
  padding-left: 15px;
}

.medios h3::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: var(--main-color);
  border-radius: 2px;
}

.medios-lista {
  max-width: 1450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.medio-item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);  
  width: 570px;
  height: 168px;
  align-content: center;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: row;
}

.medio-item:hover {
  transform: translateY(-5px);
}

.medio-imagen {
  max-width: 195px;
}

.medio-imagen img {
  width: 135px;
  height: auto;
}

.medio-texto {
  max-width: 195px;
}

.medio-texto p {
  font-size: var(--font-size-paragraph);
  color: var(--paragraph-color);
  margin: 0;
  margin-bottom: 7px;
}

.medio-texto a {
  margin-top: 7px;
  display: inline-block;
  padding: 8px 17px;
  background-color: var(--main-color);
  color: white;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  font-size: var(--font-size-about-button);
}

.medio-texto a:hover {
  background-color: var(--main-color-hover);
}


/* Responsive */
@media (max-width: 1575px) {
  .acercade-page {
    max-width: 92vw;
  }
}

@media (max-width: 1440px) {
  .imagenes img {
    max-width: 50%;
  }
}

@media (max-width: 1350px) {
  .imagenes img {
    max-width: 60%;
  }
}

@media (max-width: 1280px) {
  .ventajas-texto {
    max-width: 870px;
  }

  .imagenes img {
    max-width: 68%;
  }
}

@media (max-width: 1193px) {
  .imagenes img {
    max-width: 80%;
  }
}

@media (max-width: 1106px) {
  .imagenes img {
    max-width: 92%;
  }
}

@media (max-width: 1024px) {
  .acercade-content-container {
    flex-direction: column;
    gap: 60px;
  }

  .parrafos, .imagenes {
    width: 100%;
  }

  .parrafo-texto {
    padding: 0 15px;
  }

  .imagenes img {
    max-width: 55%;
  }
}

@media (max-width: 982px) {
  .parrafo-texto p {
    line-height: 1.6;
  }

  .ventajas-texto p {
    height: 125px;
  }

  .noticia-wow h3 {
    line-height: 1.4;
  }
}

@media (max-width: 855px) {
  .ventajas-tecnicas {
    margin-bottom: 160px;
  }

  .noticia-wow {
    max-height: 210px;
  }

  .noticia-content {
    flex-direction: column;
    gap: 17px;
  }
  
  .noticia-imagen img {
    margin-top: -100px;
    width: 48%;
    height: auto;
  }

  .noticia-wow h3 {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
  }

  .medios {
    margin-top: 70px;
  }
}

@media (max-width: 768px) {
  .ventajas-tecnicas {
    margin-bottom: 145px;
  }

  .noticia-imagen {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 0;
  }

  .noticia-imagen img {
    width: 40%;
    height: auto;
    margin-top: -90px;
  }
}

@media (max-width: 540px) {
  .acercade-page {
    max-width: 88vw;
  }

  .acercade-content-container {
    gap: 40px;
  }

  .parrafos {
    padding: 10px 30px 10px;
  }

  .ventajas-tecnicas {
    margin-bottom: 125px;
  }

  .noticia-wow {
    max-height: 250px;
  }

  .noticia-imagen img {
    margin-top: -68px;
    width: 45%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .ventajas-tecnicas {
    margin-bottom: 110px;
  }

  .ventajas-tecnicas h3,
  .medios h3 {
    margin-left: 30px;
  }

  .medio-item {
    flex-direction: column;
    height: 190px;
    gap: 5px;
  }

  .medio-imagen img {
    width: 75px;
    height: auto;
  }

  .medio-texto {
    max-width: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .medio-texto p {
    text-align: center;
  }

  .medio-texto a {
    text-align: center;
    width: max-content;
  }
}

@media (max-width: 376px) {
  .noticia-wow {
    max-height: 270px;
  }

  .noticia-imagen img {
    margin-top: -63px;
    width: 60%;
    height: auto;
  }

  .medios {
    margin-top: 60px;
  }

  .medio-texto p {
    margin-inline: 15px;
  }
}

@media (max-width: 320px) {
  .noticia-wow {
    max-height: 300px;
  }

  .noticia-imagen img {
    margin-top: -62px;
    width: 75%;
    height: auto;
  }
}