.footer {
  background-color: white;
  padding: 20px 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: fit-content;
  min-height: 100px;
  display: flex;
  justify-content: center;
}

.footer__imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 1090px;
}

.footer__imgs img {
  height: 60px;
}


/* Responsive */
@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }

  .footer__imgs img {
    height: 45px;
  }
}

@media (max-width: 480px) {
  .footer {
    min-height: 60px;
  }
}

@media (max-width: 430px) {
  .footer__imgs img {
    height: 35px;
  }
}

@media (max-width: 348px) {
  .footer__imgs {
    justify-content: center;
  }
}